body{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 0px;
    color: white;
    background: url(images.jpg);
    background-size: cover;
}
.header{
   background-color: #2b97ed;
   height: 60px;
}
.left
{
  /*  border: 2px solid red;*/
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 100px;

}
.mid{
  /*  border: 2px solid red;*/
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 620px;
    width: 60%;
    height: 5%;

    
    }
.heading{
/*  border: 2px solid red;*/
margin: 5px;
display: inline-block;
position: relative;
top: 40px;
left: 510px;
box-sizing: border-box;
width: 682px;
height: 236px;
font-size: 60px;
text-align: center;

}
.heading h1{
    color: royalblue;
}
.search{
  /*  border: 2px solid red;*/
display: inline-block;
position: relative;
top: 125px;
right: 250px;
width: 50%;
}
#search{
    width: 80%;
/* height: 18%; */
margin: 5px;
font-size: 25px;
padding: 5px 15px;
text-align: left;
border: 2px;
border-radius: 25px;
font-family: 'Baloo Bhai 2', cursive;
color: rgb(163, 156, 156);

}
.btn{
    margin: 0px 9px;
background-color: #f8efef;
color: #4d4a4a;
padding: 7px 20px;
border: 2px solid #f2eaea;
border-radius: 35px;
font-size: 20px;
cursor: pointer;
width: 108px;
font-family: 'Baloo Bhai 2', cursive;
  }
  .btn:hover{
      background-color: rgb(212, 203, 203);
  }
.left img{
    width: 50px;
    filter: invert();
}
.navbar{
    display: inline-block;
    margin: 0px 0px;
}
.navbar li{
    display: inline-block;
    font-size: 25px;
}
.navbar li a{
 color: white;
 text-decoration: none;
 padding: 34px 23px;

}
